body{
    background-color: white;
}*{
    box-sizing: border-box;
}

/*Primer maquetación*/
#ContenedorA{
    width: 90%;
    height: auto;
    margin: auto;
}

#panelAUno{
    width: 90%;
    height: 50px;
    border: 2px solid black;
    background-color: #0a497b;
    margin: auto;
}

#panelADos{
    width: 90%;
    height: 30px;
    background-color: #8b0000;
    border: 2px solid black;
    margin: auto;
}

#panelATres{
    width: 90%;
    height: 150px;
    background-color: #6c4675;
    border: 2px solid black;
    margin: auto;
}

#panelACuatro{
    width: 90%;
    height: 60px;
    background-color: #f5973d;
    border: 2px solid black;
    margin: auto;
}

/*Segunda maquetación*/
#ContenedorB{
    width: 90%;
    height: auto;
    margin: auto;
}

#panelBUno{
    width: 90%;
    height: 55px;
    border: 2px solid black;
    background-color: #0a497b;
    margin: auto;
    float: left;
}

#panelBDos{
    width: 20%;
    height: 150px;
    border: 2px solid black;
    background-color: #8b0000;
    margin: auto;
    float: left;
}

#panelBTres{
    width: 70%;
    height: 150px;
    border: 2px solid black;
    background-color: #6c4675;
    margin: auto;
    float: left;
}

#panelBCuatro{
    width: 45%;
    height: 85px;
    border: 2px solid black;
    background-color: #f5973d;
    margin: auto;
    float: left;
}

#panelBCinco{
    width: 45%;
    height: 85px;
    border: 2px solid black;
    background-color: #f5973d;
    margin: auto;
    float: left;
}

/*Tercera maquetación*/
#ContenedorB{
    width: 90%;
    height: auto;
    margin: auto;
}

#panelBUno{
    width: 70%;
    height: 300px;
    border: 2px solid black;
    background-color: #0a497b;
    margin: auto;
    float: left;
}

#panelBDos{
    width: 20%;
    height: 150px;
    border: 2px solid black;
    background-color: #8b0000;
    margin: auto;
    float: left;
}

#panelBTres{
    width: 20%;
    height: 150px;
    border: 2px solid black;
    background-color: #6c4675;
    margin: auto;
    float: left;
}